<div class="twelve columns alpha">
  <div class="two columns alpha">
    <%= gravatar_for @user %>
  </div>
  <div class="six columns">
    <% if @user.name %>
      <h2><%= @user.name %></h2>
    <% end %>
    <div class="meta">
      <%= @user.username %>
    </div>
  </div>
</div>
<div class="two columns omega">
  <%= link_to user_path(@user), user_path(@user) %>
</div>
