<section>
  <div class="eight columns alpha offset-by-one">
    <p>This is <a href="http://twitter.com">Twitter</a> clone app, made by <a href="http://twitter.com/indiche/">indiche</a>. Purpose of this app is to help me improve my <a href="http://rubyonrails.com">Ruby on Rails</a> skills.</p>
  </div>
  <div class="one columns omega offset-by-two">
    <%= render 'users/sign_up' %>
  </div>
</section>
