<section>
  <div class="eight columns alpha offset-by-one">
    <p>This is <a href="http://twitter.com">Twitter</a> clone app, made by <a href="http://twitter.com/indiche/">indiche</a>. Purpose of this app is to help me improve my <a href="http://rubyonrails.com">Ruby on Rails</a> skills.</p>
  </div>
  <div class="one columns omega offset-by-two">
    <h3>Sign up</h3>
    <form>
      <input type="text" placeholder="username" />
      <input type="text" placeholder="email" />
      <input type="password" placeholder="password" />
      <input type="password" placeholder="confirm password" />
      <input type="submit" value="Sign up" class="button" />
    </form>
  </div>
</section>
