a {
  color: #888;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #555;
}

h1 > a:hover {
  border-bottom: none
}

input.inline {
  display: inline;
  width: 150px;
}

input[type="submit"].inline {
  width: 75px;
}

.right {
  float: right;
}

header {
  margin: 20px 0 0 0;
}

header input {
  margin: 15px 0 0 0;
}
