<header class="remove-bottom">
  <div class="four columns alpha">
    <h1>Twitter</h1>
  </div>
  <div class="eight columns omega right">
    <form>
      <input type="text" class="inline" placeholder="username" />
      <input type="password" class="inline" placeholder="password" />
      <input type="submit" value="Sign in" class="button inline" />
    </form>
  </div>
</header>
